In [ ]:
import pandas as pd
import numpy as np

# the summary how to do the data clear
# remove and replace null
# remove duplicated row
# remove outlier
# change data type
# replace 0 by mean and mean with out 0

In [ ]:
#import dataset
df = pd.read_csv("file.csv")

In [ ]:
# null value clearing

In [ ]:
# observe null in different row
df.isnull().sum()

In [ ]:
# give the informcation of dataset
df.info()

In [ ]:
# Remove row containing Null
new_df = df.dropna()
new_df.isnull().sum()

In [ ]:
# update specific cell
new_df.loc[index,'column1'] = 0

In [ ]:
#replace all null value by 0
new_df = df.fillna(0)
new_df

In [ ]:
#replace null value in specific column
new_df = df
new_df['column1'] = new_df['column1'].fillna('value')
new_df

In [ ]:
#replace null value in batch
ReplaceList = {'column1':'value1','column2':'value2'}
new_df = df.fillna(value = ReplaceList)
new_df

In [ ]:
# replace by mean, mode or value
# confirm the need 0 value in calculation

new_df = df
# if 0 will affect the value, replace it by Null before calculation
new_df['column1'] = new_df['column1'].replace(0, np.nan)

# calculate the mean and round it to 2 diecimals place
ColMean = round(new_df['column1'].mean(), 2)

# calculate the mode and median
ColMode = new_df['column1'].mode()
ColMedian = new_df['column1'].median()


# replace the null value by mean or other 
new_df['column1'] = new_df['column1'].replace(np.nan, ColMean)

In [ ]:
#confirm the datatype
df.info()

In [ ]:
# update datatype int, float, str, datetime
df1 = df1.astype({'column1': 'int','column2':'str'})
df1.dtypes

In [ ]:
# Wrong datetime format
df['datecolumn'] = pd.to_datetime(df['datecolumn'])

In [ ]:
# observe the  duplicate  row

In [ ]:
#give a boolean list for duplicated row in specific column
df.duplicated()

In [ ]:
#give a list of duplicated row
df[df.duplicated()]

In [ ]:
# observe the sum of duplicate in different row
print(df.duplicated().sum())

In [ ]:
#remove duplicated row
new_df = df.drop_duplicates()
new_df

In [ ]:
#remove outlier by IQR interquartile range
#outlier = value > (Q3 + 1.5 *IQR) or value < (Q1 -1.5 *IQR) 
#IQR = Q3 -Q1
Q1 = df['value column'].quantile(0.25)
Q3 = df['value column'].quantile(0.75)
IQR = Q3 - Q1
condition = (df['value column'] < (Q3 + 1.5 *IQR)) & (df['value column'] > (Q1 -1.5 *IQR))
New_df = df[condition]
New_df